@media screen and (max-width: 260px), 
(min-device-width: 280px) and (max-device-width: 920px)
{
    h1{
        font-size: 1.2rem;
    }
    div.outline {
        border: none;
        margin: auto;
    }
    div.instruct{
        margin: auto;
    }
    div.instruct > h3 {
        font-size: 1.1rem;
    }

    #row1, #row2 {
        display: none;
    }

    td.studentCell {
        text-align: center;
    }

    td.radioBox, td.nonRadioBox {
        padding-left: 20px;
        text-align: initial;
    }
    /* label {
        display: block;
        margin: -2px;
        padding: 2px;
    } */

	table, thead, tbody, td, tr { 
		display: block; 
	}

	
	tr { 
        border: 1px solid #6d646456;
        margin-top: 10px;
    }
	
	td:after { 
		position: absolute;
        padding-left: 5vh;
		white-space: nowrap;
	}


	td:nth-of-type(2):after { content: "1st"; }
	td:nth-of-type(3):after { content: "2nd"; }
	td:nth-of-type(4):after { content: "3rd"; }
	td:nth-of-type(5):after { content: "4th"; }
	td:nth-of-type(6):after { content: "1st"; }
    td:nth-of-type(7):after { content: "2nd"; }
}

/* @media screen and (max-width: px), 
(min-device-width: 280px) and (max-device-width: 450px){
    
} */

/* elements */
html, body {min-height: 100%;}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position: center center;
    background: repeating-linear-gradient(to bottom right, #7A99AC, #0d161d);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    background-color: #EED484;
    border-radius: 5px;
    margin: auto;
    padding: 10px;
    text-align: center;
}
h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
h3 {
    font-weight: lighter;
    font-size: 2rem;
    text-align: center;
}
input[type=radio] {
    padding: 7px;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border-radius:50%;
 }
input[type="radio"]:checked {
    padding: 7px;
    appearance: none;
    background-color: rgb(50, 48, 51);
    border-radius:50%;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px;
}
table {
    border-spacing: 5px;
    margin: auto;
    /* table-layout: fixed; */
    width: 95%;
}
th, td {
    padding: 15px;
}
/* label {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: -15px;
    padding: 15px;
} */

/* Classes */
.thanksTitle {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-style: italic;
    color: #e2b93d;
}
.thanksParagraph {
    font-size: 20px;
    font-style: italic;
    text-align: center;
}
.error {
    text-align: center;
}
.child {
    background-color: #FAFAFA;
    border: none;
    box-shadow: rgba(26, 69, 82, 0.4) 0 5px 20px;
    margin: 2vh;
    padding: 20px;
}
.courseInput {
    border: 1px solid rgb(175, 177, 179);
    border-radius: 5px;
    padding: 8px;
    width: 294px;
}
/* .grid {
    display: grid;
    gap: 15px 25px;
    grid-template-columns: 20vh auto;
    justify-content: center;
    margin: 7vh;
} */
.instruct {
    margin:7vh;
}
.netid-addon {
    background-color: #7A99AC;
    border: 1px solid #7A99AC;
    border-radius: 0px 5px 5px 0px;
    color: #efeff3;
    padding: 8px;
}
.netid-input {
    border: 1px solid rgb(175, 177, 179);
    border-radius: 5px 0px 0px 5px;
    padding: 8px;
}
.netGroup {
    display: flex;
}
.nextGroup {
    text-align: right;
    margin: 7vh;
}
.next-bttn {
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(225, 229, 233);
    border-radius: 5px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px;
    color: #2f353a;
    font-size: 15px;
    padding: 15px 25px 15px 25px;
}
.next-bttn:hover {
    color: white;
    font-weight: bold;
    background-color: #7A99AC;
    border: 1px solid #7A99AC;
}
.outline {
    border: 4px solid white;
    margin: 5vh;
    position: relative;
}
.studentCell {
    padding: 15px 35px 15px 0px;
}
.radioBox {
    background-color: #aaa0a056;
    border: 1px solid #6d646456;
    text-align: center;
}
.nonRadioBox {
    background-color: #747d9c56;
    border: 1px solid #6d646456;
    text-align: center;
}
.tableP{
    border-collapse: collapse;
    box-sizing: border-box;
    padding: 3vh;
}
.trapezoid {   
    border-top: 100vh solid transparent;
	border-right: 250vh solid #B6C9D6;  
    height: 0;
    position: absolute;
    right: 0px;
    width: 0;
}


